html, body { 
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%; 
}

h1 {
    color: black;
}

a {
    color: white;
}

@font-face {
	font-family: 'clock';
	src: url('alarm_clock.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

div {
	font-family: Verdana, cursive;
}

.full-size{
	width:100%;

	overflow:hidden;
	text-align: right;
	color: white;

	display: flex;
	justify-content: center;
	align-items: center; 

	font-family: 'clock', cursive;	
}

.color0 {
	background-color: black;
}

.color1, .color3, .color5 {
	background-color: #140023;
    color: white;
}

.color2, .color4, .color6 {
	background-color: #540093;	
    color: white;
}

