html, body { 
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%; 
}

h1 {
	color: blue;
}

.full-size{
  width:100%;

  overflow:hidden; /* or overflow:auto; if you want scrollbars */
  background-color: yellow;
  text-align: center;
  font-size:7vw;
  color: white;

	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */  

	font-family: 'Alfa Slab One', cursive;	
}

.color0 {
	background-color: red;
}

.color1 {
	background-color: #9900cc;	
}

.color2 {
	background-color: green;
}

.color3 {
	background-color: #ffcc00;
}

.color4 {
	background-color: #6699ff;
}

