<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
		<script type=text/javascript>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		{% if starts %}
			{% for start in starts %}	
			<script type="text/javascript">
				function updateTime{{ loop.index }}() {
					var currentTime = new Date();
					var somme = (currentTime.getSeconds() - {{ start.second }}) + 60*(currentTime.getMinutes() - {{ start.minute }}) + 3600*(currentTime.getHours() - {{ start.hour }});
					var hours = Math.floor(somme / 3600);
					var minutes = Math.floor((somme / 60) % 60);
					var seconds = Math.floor(somme % 60);

					if (hours < 10)  { hours = "0" + hours; }
					if (minutes < 10){ minutes = "0" + minutes; }
					if (seconds < 10){ seconds = "0" + seconds; }
					var v = hours + ":" + minutes + ":" + seconds;

					setTimeout("updateTime{{ loop.index }}()", 1000);
					document.getElementById('time{{ loop.index - 1 }}').innerHTML = v;
				}
				updateTime{{ loop.index }}();
			</script>
			{% endfor %}
		{% endif %}	
	</head>

	<body>
		{% if starts %}
                        <div class="color1" style="height:10vh; text-align:center;">
				<a href="/" style="font-size: 3vw; text-decoration: none;">Temps non officiel</a>
			</div>
			{% for n in range(starts | length) %}
				<div class="color{{ n + 1 }}" style="font-size:2vw;height:2vh;">
				Vague {{ n + 1 }}
				</div>
				<div class="full-size color{{ n + 1 }}" style="font-size:{{ 23 - (starts | length) }}vw;height:{{ (90 / (starts | length)) - 2 }}vh;">
					<span id="time{{ n }}"/>
				</div>
			{% endfor %}
		{% else %}	
			<div class="color0" style="height:2vh;"><a href="/">...</a></div>
			<div class="full-size color0" style="height:98vh;"><a href="/times">...</a></div>
		{% endif %}

		<script src="static/jquery.min.js"></script>
	</body>
</html>
