<!doctype html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>

<body>
        <h1>Availables times</h1>
        {% if times %}
        <ul>
	{% for t in times %}
		<li>{{ names[loop.index0] }} - {{ t.strftime('%H:%M:%S') }}</li>
	{% endfor %}
        </ul>
        {% else %}
        No start time(s) set !<br \><br \>
        {% endif %}
	<form action="" method="post" name="set">
		Set a new time <input type="text" name="name">//<input type="text" name="hours">:<input type="text" name="minuts">:<input type="text" name="seconds">
		<input type="submit" name="click" value="Submit">
		<input type="submit" name="click" value="Delete All">
	</form>
<br \>
<div class="color0"><a href="/">Get back to front page</a> - <a href="/times">Reload</a></div>
</body>
</html>
